In [1]:
import pandas as pd

In [2]:
# Creating a dataframe from a list.
# list of strings

lst = ['Geeks', 'For', 'Geeks', 'Portal', 'is', 'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3  Portal
4      is
5  portal
6     for
7   Geeks

In [3]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses.

data = {'Name' :['Tom', 'Nick', 'Krish', 'Jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18

In [4]:
# Define a dictionary containing employee data

data = {'Name' : ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age' : [27, 24, 22, 32],
        'Address' : ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification' : ['MSC', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           MSC
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [5]:
print(df[['Name', 'Qualification']]) # Printing specific columns only.

     Name Qualification
0     Jai           MSC
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [6]:
from google.colab import drive

drive.mount('ColabNotebooks', force_remount=True)

Mounted at ColabNotebooks

In [7]:
data = pd.read_csv("/content/ColabNotebooks/MyDrive/Colab Notebooks/nba.csv", index_col = "Name")

In [8]:
print(data.head(4))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0

In [9]:
#first = data.loc['Avery Bradley',:]
# second = data.loc[:,"R.J. Hunter"]
data = data.reset_index()
first = data[data['Name']=='Avery Bradley']

In [10]:
first

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0

In [11]:
first = data["Age"]
print(first)

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
       ...
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [12]:
row2 = data.iloc[3] #retriving rows by iloc method.
print(row2)

Name           R.J. Hunter
Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: 3, dtype: object

**For checking missing data in python we use isnull() and notnull() functions.**

In [13]:
import numpy as np

# dictionary of lists

dict = {'First Score' : [100, 90, np.nan, 95],
        'Second Score' : [30, 45, 56, np.nan],
        'Third Score' : [np.nan, 40,80, 98]}
# Creating  a dataframe from a list

df = pd.DataFrame(dict)

print(df)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [14]:
df.isnull() # isnull function is use to check whether there is any missing data in the dataframe or a list.

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [16]:
df.isna() # Same like isnull function isna is also use to check whether there is nay missing data in the dataframe or a object.

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

**To fill the missing values we can use the following functions : 1)fillna(), 2)replace(), 3)interpolate()**

In [17]:
df.fillna(0) # fillna function will replace all missing values with 0.

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

**We can drop missing values using dropna() function.**

In [19]:
# dictionary of lists

dict1 = {'First Score' : [100, 90, np.nan, 95],
         'Second Score' : [30, np.nan, 45, 56],
         'Third Score' : [52, 40, 80, 98],
         'Fourth Score' : [np.nan, np.nan, np.nan, 65]}

df = pd.DataFrame(dict1)

print(df)

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [20]:
df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

**Iterating over rows and columns.**

A) **Iterating over rows.**

In order to iterate over rows we can use three functions iteritems(), iterrows(), itertuples().

In [21]:
dict2 = {'Name' : ["aparna", "pankaj", "sudhir", "Geeku"],
         'Degree' : ["MBA", "BCA", "M.Tech", "MBA"],
         'Score' : [90, 40, 80, 98]}

df = pd.DataFrame(dict2)

print(df)

     Name  Degree  Score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [22]:
for i, j in df.iterrows(): # using iterrows to iterate over rows.
  print(i, j)
  print()

0 Name      aparna
Degree       MBA
Score         90
Name: 0, dtype: object

1 Name      pankaj
Degree       BCA
Score         40
Name: 1, dtype: object

2 Name      sudhir
Degree    M.Tech
Score         80
Name: 2, dtype: object

3 Name      Geeku
Degree      MBA
Score        98
Name: 3, dtype: object

In [23]:
columns = list(df) # creating a list of dataframes of a column.

for i in columns:
  print(df[i][2]) # printing the third element of the column.

sudhir
M.Tech
80

More dataframe methods

1) index()	: Method returns index (row labels) of the DataFrame
2) insert()	: Method inserts a column into a DataFrame
3) add()	Method returns addition of dataframe and other, element-wise (binary operator add)
4) sub()	Method returns subtraction of dataframe and other, element-wise (binary operator sub)
5) mul()	Method returns multiplication of dataframe and other, element-wise (binary operator mul)
6) div()	Method returns floating division of dataframe and other, 7) element-wise (binary operator truediv)
8) unique()	Method extracts the unique values in the dataframe
9) nunique()	Method returns count of the unique values in the dataframe
10) value_counts()	Method counts the number of times each unique value occurs within the Series
11) columns()	Method returns the column labels of the DataFrame
12) axes()	Method returns a list representing the axes of the DataFrame
13) isnull()	Method creates a Boolean Series for extracting rows with null values
14) notnull()	Method creates a Boolean Series for extracting rows with non-null values
15) between()	Method extracts rows where a column value falls in between a predefined range
16) isin()	Method extracts rows from a DataFrame where a column value exists in a predefined collection
17) dtypes()	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
18) astype()	Method converts the data types in a Series
19) values()	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
20) sort_values()- Set1, Set2	Method sorts a data frame in Ascending or Descending order of passed Column
21) sort_index()	Method sorts the values in a DataFrame based on their index positions or labels instead of their values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method
22) loc[]	Method retrieves rows based on index label
23) iloc[]	Method retrieves rows based on index position
24) ix[]	Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods
25) rename()	Method is called on a DataFrame to change the names of the index labels or column names
26) columns()	Method is an alternative attribute to change the coloumn name
27) drop()	Method is used to delete rows or columns from a DataFrame
28) pop()	Method is used to delete rows or columns from a DataFrame
29) sample()	Method pulls out a random sample of rows or columns from a DataFrame
30) nsmallest()	Method pulls out the rows with the smallest values in a column
31) nlargest()	Method pulls out the rows with the largest values in a column
32) shape()	Method returns a tuple representing the dimensionality of the DataFrame
33) ndim()	Method returns an ‘int’ representing the number of axes / array dimensions.
Returns 1 if Series, otherwise returns 2 if DataFrame
34) dropna()	Method allows the user to analyze and drop Rows/Columns with Null values in different ways
35) fillna()	Method manages and let the user replace NaN values with some value of their own
36) rank()	Values in a Series can be ranked in order with this method
37) query()	Method is an alternate string-based syntax for extracting a subset from a DataFrame
38) copy()	Method creates an independent copy of a pandas object
39) duplicated()	Method creates a Boolean Series and uses it to extract rows that have duplicate values
40) drop_duplicates()	Method is an alternative option to identifying duplicate rows and removing them through filtering
41) set_index()	Method sets the DataFrame index (row labels) using one or more existing columns
42) reset_index()	Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index
43) where()	Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not satisfying the condition are filled with NaN value